@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Privacy Policy</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <center>
        <img src="https://uploads-ssl.webflow.com/63732cac1e22b77dd8bec3c2/64b8571c46319e6c1d4c8c3a_Privacy-policy.png"></img
    </center>
   
    <div class="container mt-5">
        <h1 class="text-center mb-4">Privacy Policy</h1>
        <div class="row">

          
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        What is a Privacy Policy?
                    </div>
                    <div class="card-body">
                        <p>A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.</p>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Terms & Conditions
                    </div>
                    <div class="card-body">
                        <p>Terms & Conditions, also known as Terms of Service or Terms of Use, govern the use of a website by visitors. Simply put, a Terms & Conditions acts like a contract between the website owner and the website visitors.</p>
                    </div>
                </div>
            </div>

           
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        Disclaimer
                    </div>
                    <div class="card-body">
                        <p>No warranty is provided regarding the accuracy or adequacy of these generators for every situation. If you are not sure about any legal questions, or have any questions or doubts about a Privacy Policy, </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>

