@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



<div class="maintenance-container">
    <img class="maintenance-image" src="https://www.misc.net.my/Maintenance.png" alt="Under Maintenance">
    <h1>Sorry, We're Under Maintenance</h1>
    <p>We apologize for the inconvenience. Our website is currently undergoing scheduled maintenance. Please check back later.</p>
</div>


<style>
    body {
        font-family: 'Arial', sans-serif;
        text-align: center;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .maintenance-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        width: 100%;
        margin-top: 320px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .maintenance-image {
        max-width: 100%;
        height: auto;
    }

    h1 {
        color: #333;
    }

    p {
        color: #555;
    }
</style>
