@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <br></br>
    <center>
        <div class="alert alert-info">
            <h2>Communication Module</h2>
        </div>
        <b>communication points that are needed in interview tests and can help during interviews.</b>
    </center>
    <br />
    <div class="card-container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h5>Active Listening</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Active listening is crucial in interviews as it shows your attentiveness and understanding of the interviewer's questions.
                            </p>
                        </div>
                    </div>
                </div>

            <div class="col">
                <div class="card">
                    <div class="card-header bg-info">
                        <h5>Clear Communication</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Clear communication ensures that your message is understood without ambiguity, which is essential in professional settings.
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <br></br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-info">
                        <h5>Confidence</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Confidence in your abilities and communication can leave a positive impression on the interviewer.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header bg-info">
                        <h5>Non Verbal Communication</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Understanding the impact of body language, facial expressions, and posture. Recognizing and controlling nervous behaviors.
s                        </p>
                    </div>
                </div>
            </div>
        </div>
            <hr />

<center>
        <h1>Synonyms</h1>

            <table class="table table-hover table-info table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Synonym</th>
                    <th>Definition</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Happy</td>
                    <td>Joyful</td>
                </tr>
                <tr>
                    <td>Sad</td>
                    <td>Unhappy</td>
                </tr>
                
                <tr>
                    <td>Slow</td>
                    <td>Lethargic</td>
                </tr>
                <tr>
                    <td>Brave</td>
                    <td>Courageous</td>
                </tr>
                <tr>
                    <td>Cowardly</td>
                    <td>Fearful</td>
                </tr>
                <tr>
                    <td>Smart</td>
                    <td>Intelligent</td>
                </tr>
                <tr>
                    <td>Weak</td>
                    <td>Feeble</td>
                </tr>
                <tr>
                    <td>Bright</td>
                    <td>Radiant</td>
                </tr>
                <tr>
                    <td>Generous</td>
                    <td>Charitable</td>
                </tr>
                <tr>
                    <td>Stingy</td>
                    <td>Miserly</td>
                </tr>
                
            </tbody>
        </table>
          <hr></hr>

            <h1>Antonyms</h1>

            <table class="table table-hover table-primary table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Antonym 1</th>
                        <th>Antonym 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hot</td>
                        <td>Cold</td>
                    </tr>
                    <tr>
                        <td>Fast</td>
                        <td>Slow</td>
                    </tr>
                    <tr>
                        <td>Big</td>
                        <td>Small</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>Low</td>
                    </tr>
                    <tr>
                        <td>Up</td>
                        <td>Down</td>
                    </tr>
                    <tr>
                        <td>Day</td>
                        <td>Night</td>
                    </tr>
                    <tr>
                        <td>Good</td>
                        <td>Bad</td>
                    </tr>
                    <tr>
                        <td>Happy</td>
                        <td>Sad</td>
                    </tr>
                    <tr>
                        <td>Light</td>
                        <td>Dark</td>
                    </tr>
                    <tr>
                        <td>Strong</td>
                        <td>Weak</td>
                    </tr>
                </tbody>
            </table>
            <hr></hr>
          
            <h1>Verb Forms</h1>

            <table class="table table-hover table-warning table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Verb</th>
                        <th>Past Tense</th>
                        <th>Past Participle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Eat</td>
                        <td>Ate</td>
                        <td>Eaten</td>
                    </tr>
                    <tr>
                        <td>Run</td>
                        <td>Ran</td>
                        <td>Run</td>
                    </tr>
                    <tr>
                        <td>Drink</td>
                        <td>Drank</td>
                        <td>Drunk</td>
                    </tr>

                    <tr>
                        <td>Write</td>
                        <td>Wrote</td>
                        <td>Written</td>
                    </tr>
                    <tr>
                        <td>Sing</td>
                        <td>Sang</td>
                        <td>Sung</td>
                    </tr>
                    <tr>
                        <td>Sleep</td>
                        <td>Slept</td>
                        <td>Slept</td>
                    </tr>
                    <tr>
                        <td>Speak</td>
                        <td>Spoke</td>
                        <td>Spoken</td>
                    </tr>
                    <tr>
                        <td>Drive</td>
                        <td>Drove</td>
                        <td>Driven</td>
                    </tr>
                    <tr>
                        <td>Swim</td>
                        <td>Swam</td>
                        <td>Swum</td>
                    </tr>
                    <tr>
                        <td>Go</td>
                        <td>Went</td>
                        <td>Gone</td>
                    </tr>
                    <tr>
                        <td>Do</td>
                        <td>Did</td>
                        <td>Done</td>
                    </tr>
                    <tr>
                        <td>See</td>
                        <td>Saw</td>
                        <td>Seen</td>
                    </tr>
                    <tr>
                        <td>Come</td>
                        <td>Came</td>
                        <td>Come</td>
                    </tr>
                    <tr>
                        <td>Take</td>
                        <td>Took</td>
                        <td>Taken</td>
                    </tr>
                    <tr>
                        <td>Give</td>
                        <td>Gave</td>
                        <td>Given</td>
                    </tr>
                    <tr>
                        <td>Break</td>
                        <td>Broke</td>
                        <td>Broken</td>
                    </tr>
                    <tr>
                        <td>Speak</td>
                        <td>Spoke</td>
                        <td>Spoken</td>
                    </tr>
                    <tr>
                        <td>Fly</td>
                        <td>Flew</td>
                        <td>Flown</td>
                    </tr>
                    <tr>
                        <td>Choose</td>
                        <td>Chose</td>
                        <td>Chosen</td>
                    </tr>
                    <tr>
                        <td>Teach</td>
                        <td>Taught</td>
                        <td>Taught</td>
                    </tr> 
                </tbody>
            </table>

           <hr/>


            <h1>Idioms and Meanings</h1>

            <table class="table table-hover table-info table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Idiom</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bite the bullet</td>
                        <td>To endure a painful or difficult situation bravely.</td>
                    </tr>
                    <tr>
                        <td>Break the ice</td>
                        <td>To initiate conversation or friendship in a social situation.</td>
                    </tr>
                    <tr>
                        <td>Cost an arm and a leg</td>
                        <td>To be very expensive.</td>
                    </tr>
                    <tr>
                        <td>Hit the nail on the head</td>
                        <td>To describe exactly what is causing a situation or problem.</td>
                    </tr>
                    <tr>
                        <td>Jump on the bandwagon</td>
                        <td>To join a popular trend or activity.</td>
                    </tr>
                    <tr>
                        <td>Kill two birds with one stone</td>
                        <td>To accomplish two tasks with a single action.</td>
                    </tr>
                    <tr>
                        <td>Piece of cake</td>
                        <td>Something that is very easy to do.</td>
                    </tr>
                    <tr>
                        <td>Under the weather</td>
                        <td>Feeling ill or sick.</td>
                    </tr>
                    <tr>
                        <td>Burn the midnight oil</td>
                        <td>To work late into the night.</td>
                    </tr>
                    <tr>
                        <td>A penny for your thoughts</td>
                        <td>A phrase used to ask someone what they are thinking about.</td>
                    </tr>
                </tbody>
                </table>
                <hr/>

            <h1>Parts of Speech</h1>

            <table class="table table-hover table-primary table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Part of Speech</th>
                        <th>Meaning</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Noun</td>
                        <td>A person, place, thing, or idea.</td>
                        <td>Dog, house, book, love.</td>
                    </tr>
                    <tr>
                        <td>Verb</td>
                        <td>An action or state of being.</td>
                        <td>Run, jump, sing, be.</td>
                    </tr>
                    <tr>
                        <td>Adjective</td>
                        <td>A word that describes or modifies a noun.</td>
                        <td>Big, happy, beautiful, green.</td>
                    </tr>
                    <tr>
                        <td>Adverb</td>
                        <td>A word that modifies or describes a verb, adjective, or another adverb.</td>
                        <td>Quickly, slowly, very, really.</td>
                    </tr>
                    <tr>
                        <td>Pronoun</td>
                        <td>A word that takes the place of a noun in a sentence.</td>
                        <td>He, she, it, they.</td>
                    </tr>
                    <tr>
                        <td>Preposition</td>
                        <td>A word that shows the relationship between a noun (or pronoun) and other words in a sentence.</td>
                        <td>In, on, at, under.</td>
                    </tr>
                    <tr>
                        <td>Conjunction</td>
                        <td>A word that connects words, phrases, or clauses in a sentence.</td>
                        <td>And, but, or, because.</td>
                    </tr>
                    <tr>
                        <td>Interjection</td>
                        <td>A word or phrase that expresses strong emotion or sudden feeling.</td>
                        <td>Wow!, Ouch!, Hey!</td>
                    </tr>
                </tbody>
                </table>
                <hr/>

            <h1>Interview Communication Tips</h1>

            <ol style="text-align: left;">
                <li><strong>Prepare:</strong> Research the company and role beforehand.</li>
                <li><strong>Listen:</strong> Pay attention to the interviewer's questions.</li>
                <li><strong>Be concise:</strong> Provide clear and concise answers.</li>
                <li><strong>Use STAR technique:</strong> Structure your responses using Situation, Task, Action, Result.</li>
                <li><strong>Show enthusiasm:</strong> Demonstrate interest in the role and company.</li>
                <li><strong>Ask questions:</strong> Prepare insightful questions to ask the interviewer.</li>
                <li><strong>Body language:</strong> Maintain good posture and eye contact.</li>
                <li><strong>Be professional:</strong> Dress appropriately and maintain a professional demeanor.</li>
            </ol>
        </center>
    </div>
</div>
