@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <center>
        <div class="alert alert-info">
            <h2>Technical Module</h2>
        </div>
        </center>
    @{
        ViewBag.Title = "Coding Questions";
    }

    <center>
        Click Here To Start Test =>
        <a class="nav-link text-dark" asp-area="" asp-controller="Technical" asp-action="Index">
            <b class="btn btn-primary">Technical Practice Quiz</b>
        </a>
    </center>
   

    <div class="card">
        <h5 class="card-header bg-info"> Coding Questions</h5>
        <div class="card-body">
            <div class="font-monospace ">
                <h3>Java</h3>
                <ul>
                    <li>Write a Java program to find the factorial of a number.</li>
                    <li>Implement a binary search algorithm in Java.</li>
                    <li>Write a program to reverse a string in Java.</li>
                    <li>Implement a stack data structure using arrays in Java.</li>
                    <li>Write a Java program to check if a string is a palindrome.</li>
                </ul>

                <h3>Core Java Collections</h3>
                <ul>
                    <li>Write a Java program to implement a HashSet.</li>
                    <li>Implement a TreeMap in Java and demonstrate its usage.</li>
                    <li>Write a program to sort elements in an ArrayList in Java.</li>
                    <li>Implement a LinkedList in Java and perform basic operations like insertion, deletion, and traversal.</li>
                    <li>Write a Java program to find the intersection of two ArrayLists.</li>
                </ul>

                <h3>C++</h3>
                <ul>
                    <li>Write a C++ program to implement a linked list.</li>
                    <li>Implement the bubble sort algorithm in C++.</li>
                    <li>Write a program to find the sum of all elements in an array using recursion in C++.</li>
                    <li>Implement a queue data structure using arrays in C++.</li>
                    <li>Write a C++ program to calculate the factorial of a number using recursion.</li>
                </ul>

                <h3>Data Structures & Algorithms (DSA)</h3>
                <ul>
                    <li>Implement the quicksort algorithm.</li>
                    <li>Write a program to find the nth Fibonacci number using dynamic programming.</li>
                    <li>Implement a binary search tree (BST) data structure.</li>
                    <li>Write a program to reverse a linked list.</li>
                    <li>Implement the depth-first search (DFS) algorithm.</li>
                </ul>

                <h3>Database Queries</h3>
                <ul>
                    <li>Write an SQL query to fetch all employees from the "employees" table.</li>
                    <li>Implement a SQL query to find the total sales for each product from the "sales" table.</li>
                    <li>Write an SQL query to update the salary of an employee with a given ID.</li>
                    <li>Implement a SQL query to find the nth highest salary from the "employees" table.</li>
                    <li>Write an SQL query to delete all records from a table where the age is less than 18.</li>
                </ul>
                
            </div>
        </div>
    </div>

   
  
</div>
